.Topbar {
    width: 100%;
    background-color: black;
    padding: 24px 48px 12px;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
  
.Topbar > img {
    width: 100px;
    
}